@import 'node_modules/argo-ui/src/styles/config';
@import '../../../shared/brand-tokens';

.new-source-panel {

    .checkbox-container {
        margin: 0.5em ;
    }

    pre {
        font-family: $brand-font-mono;
        line-height: normal;
        white-space: pre;
    }

    .row.argo-form-row .columns {
        padding-left: 0;
    }
}
