@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/argo-ui/src/styles/theme';
@import '../../config.scss';
@import '../../brand-tokens';

.page-wrapper {
    width: 100%;
    padding-left: $sidebar-width;

    @media (max-width: 720px) {
        padding-left: $mobile-sidebar-width;
    }

    .page {
        @media (max-width: map-get($breakpoints, medium)) {
            &--has-toolbar {
                padding-top: 0;
            }

            &--has-toolbar &__top-bar {
                height: auto;
                position: initial;

                .top-bar.row > div {
                    max-width: 100%;
                    flex: 0 0 100%;
                    text-align: center;

                    &.top-bar__right-side > div {
                        display: inline-block;
                    }

                    & > div {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        button {
                            margin-bottom: 2px;
                        }
                    }
                }
            }
        }
        $single-toolbar-height: 50px;

        &--has-toolbar {
            padding-top: $single-toolbar-height;
        }
        &__top-bar {
            height: $single-toolbar-height;
            left: $sidebar-width;

            @media (max-width: 720px) {
                left: $mobile-sidebar-width;
            }
        }
    }
}

.login-logout-button {
    border-radius: 6px;
    color: $brand-blue;
    padding: 3px;
    cursor: pointer;

    &:focus {
        color: $brand-blue-dark;
        box-shadow: 0 0 0 0.1em rgba($brand-blue, 0.24);
    }

    &:hover {
        color: $brand-blue-dark;
    }
}

.page {
    padding-left: 0 !important;

    &__top-bar {
        left: $sidebar-width !important;

        @media (max-width: 720px) {
            left: $mobile-sidebar-width !important;
        }
    }
}

.sb-page-wrapper {
    padding-left: $sidebar-width;

    @media (max-width: 720px) {
        padding-left: $mobile-sidebar-width;
    }

    &__sidebar-collapsed {
        padding-left: $collapsed-sidebar-width;
        .flex-top-bar {
            left: $collapsed-sidebar-width;
        }

        .page {
            &__top-bar {
                left: $collapsed-sidebar-width !important;
            }
        }

        .application-details__status-panel {
            left: $collapsed-sidebar-width;
        }

        @media (max-width: 720px) {
            padding-left: $mobile-sidebar-width;

            .flex-top-bar {
                left: $mobile-sidebar-width;
            }

            .page {
                &__top-bar {
                    left: $mobile-sidebar-width !important;
                }
            }

            .application-details__status-panel {
                left: $mobile-sidebar-width;
            }
        }
    }
}

@media (max-width: 720px) {
    .flex-top-bar,
    .application-details__status-panel {
        left: $mobile-sidebar-width !important;
    }
}
