@import '../../brand-tokens';

.progress-popup__title {
    font-family: 'Inter', system-ui, sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-style: normal;
    color: $brand-slate-300;
}

.progress-popup__footer {
    text-align: right;
}

.progress-popup__content {
    padding-top: 15px;
}
